# Transformaciones

In [ ]:
import json
import openpyxl
import pandas as pd
import re
import csv 
from datetime import datetime

### 1 - Dataset "Homicidios - Hechos"
    Información sobre homicidios en siniestros viales ocurridos en la Ciudad desde 
    el año 2016 hasta el 2021. Los datos incluyen fecha y ubicación del hecho y 
    tipo de transporte involucrado.

In [54]:
#Cargamos el Dataset proporcionado en formato excel
df = pd.read_csv('./Datasets/homicidios - HECHOS.csv')

# Mostrar el DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    object
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: float64(1), int64(5), object(15)
memory usage: 114.3+ KB
None

In [55]:
# Convertimos 'FECHA' a datetime
df['FECHA'] = pd.to_datetime(df['FECHA'])

# Filtramos valores anómalos en 'HORA'
invalid_times = df[~df['HORA'].str.match(r'^\d{1,2}:\d{2}:\d{2}$')]
#print("Valores anómalos en 'HORA':")
#print(invalid_times)

# Reemplazamos valores anómalos con un valor por defecto '00:00:00'
df['HORA'] = df['HORA'].apply(lambda x: '00:00:00' if not re.match(r'^\d{1,2}:\d{2}:\d{2}$', x) else x)

# Convertimos 'HORA' a time
df['HORA'] = pd.to_datetime(df['HORA'], format='%H:%M:%S').dt.time

#Presenta un solo valor anómalo en el id 2019-0103

In [56]:
# Creamos la columna DIA_SEMANA para análisis temporal
df['DIA_SEMANA'] = df['FECHA'].dt.day_name()

In [57]:
# Rellenamos valores nulos en 'Calle' y 'Cruce' con 'unknown'
df['Calle'].fillna('unknown', inplace=True)
df['Cruce'].fillna('unknown', inplace=True)

In [58]:
# Eliminar la columna 'Altura'
df = df.drop(columns=['Altura', 'Calle', 'Cruce'])

In [59]:
# Convertimos las coordenadas a numérico si están en formato de cadena
df['pos x'] = pd.to_numeric(df['pos x'], errors='coerce')
df['pos y'] = pd.to_numeric(df['pos y'], errors='coerce')

# Verificamos si hay valores nulos después de la conversión y tratarlos si es necesario
#print("Valores nulos a eliminar en 'pos x':", df['pos x'].isnull().sum())
#print("Valores nulos a eliminar en 'pos y':", df['pos y'].isnull().sum())

# Eliminamos filas con valores nulos en 'pos x' y 'pos y'
df = df.dropna(subset=['pos x', 'pos y'])

In [60]:
# Verificamos y convertimos las columnas categóricas
categorical_columns = ['TIPO_DE_CALLE', 'COMUNA', 'PARTICIPANTES', 'VICTIMA', 'ACUSADO']
for column in categorical_columns:
    df[column] = df[column].astype('category')

# Comprobamos de los cambios
print(df.dtypes)
print(df.head())

ID                               object
N_VICTIMAS                        int64
FECHA                    datetime64[ns]
AAAA                              int64
MM                                int64
DD                                int64
HORA                             object
HH                               object
LUGAR_DEL_HECHO                  object
TIPO_DE_CALLE                  category
Dirección Normalizada            object
COMUNA                         category
XY (CABA)                        object
pos x                           float64
pos y                           float64
PARTICIPANTES                  category
VICTIMA                        category
ACUSADO                        category
DIA_SEMANA                       object
dtype: object
          ID  N_VICTIMAS      FECHA  AAAA  MM  DD      HORA HH  \
0  2016-0001           1 2016-01-01  2016   1   1  04:00:00  4
1  2016-0002           1 2016-01-02  2016   1   2  01:15:00  1
2  2016-0003           1 2016-01-03  2016   1   3  07:00:00  7
3  2016-0004           1 2016-01-10  2016   1  10  00:00:00  0
4  2016-0005           1 2016-01-21  2016   1  21  05:20:00  5

                             LUGAR_DEL_HECHO TIPO_DE_CALLE  \
0  AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA
1          AV GRAL PAZ  Y AV DE LOS CORRALES      GRAL PAZ
2                         AV ENTRE RIOS 2034       AVENIDA
3      AV LARRAZABAL Y GRAL VILLEGAS CONRADO       AVENIDA
4  AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA        AVENIDA

                               Dirección Normalizada COMUNA  \
0  PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...      8
1               PAZ, GRAL. AV. y DE LOS CORRALES AV.      9
2                                ENTRE RIOS AV. 2034      1
3          LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.      8
4            SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.      1

                                 XY (CABA)      pos x      pos y  \
0    Point (98896.78238426 93532.43437792) -58.475340 -34.687570
1    Point (95832.05571093 95505.41641999) -58.508775 -34.669777
2   Point (106684.29090040 99706.57687843) -58.390403 -34.631894
3    Point (99840.65224780 94269.16534422) -58.465039 -34.680930
4  Point (106980.32827929 100752.16915795) -58.387183 -34.622466

    PARTICIPANTES VICTIMA    ACUSADO DIA_SEMANA
0       MOTO-AUTO    MOTO       AUTO     Friday
1  AUTO-PASAJEROS    AUTO  PASAJEROS   Saturday
2       MOTO-AUTO    MOTO       AUTO     Sunday
3         MOTO-SD    MOTO         SD     Sunday
4  MOTO-PASAJEROS    MOTO  PASAJEROS   Thursday

In [61]:
# Guardar el DataFrame procesado en un archivo parquet
df.to_parquet('./Datasets/homicidios-HECHOS-limpio.parquet', index=False)